APP_NAME="IGX 2026"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://igx.co.id
TICKET_DOMAIN=ticket.igx-03.leolitgames.com
APP_LOCALE=id
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=igx_2026
DB_USERNAME=igx2026
DB_PASSWORD=DB_PASSWORD_PLACEHOLDER

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database
