@import "tailwindcss";
@import "./fonts.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-moon: "MOON GET!", sans-serif;

    --color-primary: #53bfc9;
    --color-primary-light: #71d9e8;
    --color-primary-dark: #1a98a6;

    --color-secondary: #fef02e;
    --color-secondary-light: #fff27a;
    --color-secondary-dark: #ccb800;

    --color-info: #3587c9;

    --color-neutral-white: #ffffff;
    --color-neutral-white-light: #ffffff;
    --color-neutral-white-dark: #f0f0f0;

    --color-neutral-black: #1d1d1b;
    --color-neutral-black-light: #3c3c3a;
    --color-neutral-black-dark: #000000;

    --color-danger: #ff3b30;
    --color-danger-light: #ff8a85;
    --color-danger-dark: #c12822;

    --color-warning: #ffe600;
    --color-warning-light: #fff27a;
    --color-warning-dark: #ccb800;

    --color-success: #4caf50;
    --color-success-light: #81c784;
    --color-success-dark: #388e3c;

    --color-background-light: #25c5db;
    --color-background-light-light: #71d9e8;
    --color-background-light-dark: #1a98a6;

    --color-background-dark: #1d1d1b;
    --color-background-dark-light: #3c3c3a;
    --color-background-dark-dark: #000000;

    --color-background-footer: #1e3135;
}

@layer components {
    .btn-primary {
        @apply bg-secondary text-info hover:bg-secondary-dark transition duration-200 ease-in-out;
    }
}

@layer base {
    body {
        @apply font-moon;
    }

    #article-body h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #article-body h2 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #article-body h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #article-body h4 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #article-body h5 {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #article-body h6 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #article-body p {
        margin-bottom: 0.5rem;
    }

    #article-body ul {
        margin-bottom: 0.5rem;
        padding-left: 1.5rem;
    }

    #article-body ul li {
        margin-bottom: 0.5rem;
        list-style-type: disc;
    }

    #article-body ol {
        margin-bottom: 0.5rem;
        padding-left: 1.5rem;
    }

    #article-body ol li {
        margin-bottom: 0.5rem;
        list-style-type: decimal;
    }

    #article-body blockquote {
        margin: 1rem 0;
        padding: 1rem;
        border-left: 4px solid #ccc;
        background-color: #f9f9f9;
    }

    #article-body img {
        max-width: 100%;
        height: auto;
        margin: 1rem 0;
    }

    #article-body table {
        width: 100%;
        border-collapse: collapse;
        margin: 1rem 0;
    }
}
