@font-face {
    font-family: "MOON GET!";
    src: url("/fonts/moon_get-Heavy.woff2") format("woff2"),
        url("/fonts/moon_get-Heavy.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
