@font-face {
    font-family: "MOON GET!";
    src: url("/public/fonts/moon_get-Heavy.woff2") format("woff2"),
        url("/public/fonts/moon_get-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}
